.consultation-button, .lang-button, .right-menu a, .mob-menu, .direction-item, .blog-item, .video-item, .product-button, .footer-social a, .footer-menu-item, .blog-button, .mm-main-item, .mm-sub a, .close-mob-menu-modal, .close-consultation, .ncb-send, .drop-lang-header a, .sort-block div, .bread-crumbs a, .pl-item, .ivb-item, .mob-cart-button, .index-email, .youtub-button, #form-p-send-manager input, #form-p-send-manager textarea, .close-block, .ccb-add, .ccb-del, .ccb-count input, .cart-delete, .complete-order, .continue-order, .blog-filter-item, .pp-buy-button, .slider-button-prev, .slider-button-next, .pl-item-addtocard, .close-successful-block, .order-page-form input, .order-page-form textarea, .order-page-confirm, .osp-button {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.phone-header:hover, .pl-item-title:hover, .cart-name:hover, .cpmi-phone:hover, .cpmi-email:hover, .cpmi-address:hover, .opid-title:hover, .blog-title:hover {
    text-decoration: underline;
}
.lang-button:hover, .right-menu a:hover, .blog-button:hover, .mm-main-item:hover, .mm-sub a:hover, .close-mob-menu-modal:hover, .close-consultation:hover, .drop-lang-header a:hover, .sort-block div:hover, .bread-crumbs a:hover, .youtub-button:hover, .close-block:hover {
    background-color: var(--color-bgmaincolor);
    color: var(--color-maincolor);
}
.mob-cart-button:hover, .blog-filter-item:hover {
    background-color: var(--color-bgmaincolor);
}
.index .lang-button:hover, .index  .right-menu a:hover, .index .mob-cart-button:hover {
    background-color: rgba(250, 250, 250, .2);
    color: var(--color-white);
}
.footer-menu-item:hover, .footer-social a:hover, .ccb-add:hover, .ccb-del:hover, .cpmi-social-block a:hover {
    background-color: rgba(0, 0, 0, .05);
}
.cart-delete:hover {
    background-color: rgba(0, 0, 0, .1);
}
.mob-menu:hover, .index-email:hover, .pl-item-addtocard:hover {
    opacity: .8;
}
.consultation-button:hover {
    background-color: rgba(53, 224, 152, .5);
}
.continue-order:hover, .pp-buttons-block .consultation-button:hover {
    background-color: rgba(53, 224, 152, .2);
}
.blog-item:hover {
    box-shadow: 6px 6px 5px 0 rgb(0 0 0 / 10%);
    -webkit-transform: translate(-2px, -2px);
    -moz-transform: translate(-2px, -2px);
    -ms-transform: translate(-2px, -2px);
    -o-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
}
.direction-item:hover {
    box-shadow: 6px 6px 0px 0 rgb(0 0 0 / 90%);
    -webkit-transform: translate(-2px, -2px);
    -moz-transform: translate(-2px, -2px);
    -ms-transform: translate(-2px, -2px);
    -o-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
}
.pl-item:hover {
    box-shadow: 6px 6px 0px 0 rgb(0 0 0 / 30%);
    -webkit-transform: translate(-2px, -2px);
    -moz-transform: translate(-2px, -2px);
    -ms-transform: translate(-2px, -2px);
    -o-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
}
.video-item:hover:after, .ivb-item:hover:after {
    opacity: .6;
}
.product-button:hover, .complete-order:hover, .pp-buy-button:hover, .order-page-confirm:hover, .osp-button:hover {
    background-color: #17c77d;
    border-color: #17c77d;
}
.ncb-send:hover, .close-successful-block:hover {
    background-color: #17c77d;
    color: var(--color-white);
}
.slider-button-prev:hover, .slider-button-next:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.pp-buy-button-in:hover {
    color: var(--color-white);
}