@media (max-width:1600px) {
    .index-videobg-title div:nth-child(2) {
        font-size: 64px;
    }
    .index-videobg-title div:first-child {
        font-size: 50px;
    }
    .index-block-title {
        font-size: 70px;
    }
    .index-img-block {
        padding: 0 50px;
    }
    .index-block-info, .quality-block .index-img-block {
        width: 60%;
    }
    .quote-block {
        line-height: 30px;
        font-size: 20px;
    }
    .index-slider-item {
        height: 200px;
    }
}

@media (max-width:1200px) {
    .grass-fed-block .index-block {
        width: 100%;
    }
    .index-img-block {
        padding: 0 0 0 20px;
    }
    .index-block-info, .quality-block .index-img-block {
        width: 70%;
    }
    .index-blog-block {
        grid-gap: 20px;
    }
}

@media (max-width:1023px) {
    .slider-button-next {
        right: 30px;
    }
    .slider-button-prev {
        left: 30px;
    }
    .index-videobg-title div:nth-child(2) {
        font-size: 46px;
    }
    .index-videobg-title div:first-child {
        font-size: 34px;
    }
    .index-block {
        display: block;
        margin: 100px auto;
    }
    .philosophy-block {
        margin: 100px auto 10px;
    }
    .index-photo-block {
        margin: 0 0 100px;
        padding: 0 20px;
    }
    .index-block-info, .quality-block .index-img-block {
        width: 100%;
    }
    .quality-block .index-img-block, .index-img-block {
        padding: 20px 0 0;
    }
    .philosophy-block img {
        border-radius: 20px;
    }
    .index-blog-item:last-child {
        display: none;
    }
    .index-blog-block {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:767px) {
    .index-slider-item {
        height: 250px;
    }
    .slider-button-next {
        right: 10px;
    }
    .slider-button-prev {
        left: 10px;
    }
    .header-menu {
        display: none;
    }
    .header-block-menu img {
        max-width: 150px;
    }
    .index-videobg-title div:nth-child(2) {
        font-size: 30px;
    }
    .index-videobg-title div:first-child {
        font-size: 24px;
    }
    .index-block-title {
        font-size: 36px;
    }
    .index-block {
        margin: 50px auto;
    }
    .philosophy-block {
        margin: 100px auto 10px;
    }
    .index-block-sub {
        font-size: 20px;
        margin: 10px 0 40px;
    }
    .index-block-txt {
        line-height: 22px;
        font-size: 12px;
    }
    .quote-block {
        margin: 50px 0;
    }
    .grass-fed-block {
        padding: 150px 0;
    }
    .quote-block {
        line-height: 22px;
        font-size: 14px;
        padding: 50px 30px;
    }
    .quote-block img {
        opacity: 0.04;
        top: 20px;
        right: 20px;
    }
    .index-blog-block {
        grid-gap: 10px;
    }
    .index-blog-title {
        font-size: 14px;
        margin: 15px 0 20px;
    }
    .index-blog-txt {
        font-size: 12px;
        height: 48px;
    }
    .footer-menu a {
        display: block;
    }
    .footer-menu {
        margin: 70px 0 100px;
    }
    .footer-block img {
        max-width: 240px;
    }
    .footer-block {
        margin: 200px 0 70px;
    }
}