/* inter-200 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/inter-v18-cyrillic_latin-200.eot'); /* IE9 Compat Modes */
    src: url('../fonts/inter-v18-cyrillic_latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inter-v18-cyrillic_latin-200.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/inter-v18-cyrillic_latin-200.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('../fonts/inter-v18-cyrillic_latin-200.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('../fonts/inter-v18-cyrillic_latin-200.svg#Inter') format('svg'); /* Legacy iOS */
  }
  /* inter-300 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/inter-v18-cyrillic_latin-300.eot'); /* IE9 Compat Modes */
    src: url('../fonts/inter-v18-cyrillic_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inter-v18-cyrillic_latin-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/inter-v18-cyrillic_latin-300.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('../fonts/inter-v18-cyrillic_latin-300.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('../fonts/inter-v18-cyrillic_latin-300.svg#Inter') format('svg'); /* Legacy iOS */
  }
  /* inter-regular - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v18-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/inter-v18-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inter-v18-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/inter-v18-cyrillic_latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('../fonts/inter-v18-cyrillic_latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('../fonts/inter-v18-cyrillic_latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
  }
  /* inter-500 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/inter-v18-cyrillic_latin-500.eot'); /* IE9 Compat Modes */
    src: url('../fonts/inter-v18-cyrillic_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inter-v18-cyrillic_latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/inter-v18-cyrillic_latin-500.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('../fonts/inter-v18-cyrillic_latin-500.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('../fonts/inter-v18-cyrillic_latin-500.svg#Inter') format('svg'); /* Legacy iOS */
  }
  /* inter-600 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/inter-v18-cyrillic_latin-600.eot'); /* IE9 Compat Modes */
    src: url('../fonts/inter-v18-cyrillic_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inter-v18-cyrillic_latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/inter-v18-cyrillic_latin-600.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('../fonts/inter-v18-cyrillic_latin-600.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('../fonts/inter-v18-cyrillic_latin-600.svg#Inter') format('svg'); /* Legacy iOS */
  }
  /* inter-700 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v18-cyrillic_latin-700.eot'); /* IE9 Compat Modes */
    src: url('../fonts/inter-v18-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inter-v18-cyrillic_latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/inter-v18-cyrillic_latin-700.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('../fonts/inter-v18-cyrillic_latin-700.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('../fonts/inter-v18-cyrillic_latin-700.svg#Inter') format('svg'); /* Legacy iOS */
  }
  /* inter-800 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/inter-v18-cyrillic_latin-800.eot'); /* IE9 Compat Modes */
    src: url('../fonts/inter-v18-cyrillic_latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inter-v18-cyrillic_latin-800.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/inter-v18-cyrillic_latin-800.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('../fonts/inter-v18-cyrillic_latin-800.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('../fonts/inter-v18-cyrillic_latin-800.svg#Inter') format('svg'); /* Legacy iOS */
  }
  /* inter-900 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/inter-v18-cyrillic_latin-900.eot'); /* IE9 Compat Modes */
    src: url('../fonts/inter-v18-cyrillic_latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/inter-v18-cyrillic_latin-900.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/inter-v18-cyrillic_latin-900.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('../fonts/inter-v18-cyrillic_latin-900.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('../fonts/inter-v18-cyrillic_latin-900.svg#Inter') format('svg'); /* Legacy iOS */
  }

/*Common style*/
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
    border-radius: 0;
    font: 400 16px "Inter", sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input, textarea {
     resize: none;
     border: none;
     outline: none;
}
* {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
 }
 .language-block {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
 :root {
     /* Colors */
     --color-white: #fff;
     --color-main: #009fe3;
     --color-bgmain: #eaf6fe;
     --color-bgfooter: #181818;
     --color-black: #000;
     --color-lowblack: #333;
     --color-mainbg: #f9f9f9;
     --color-gray: #eee;
     /* Fonts */
}
a {
    color: #000;
    text-decoration: none;
}
body {
    overflow-x: hidden;
    font: 300 14px "Inter", sans-serif;
    color: #000;
}
.container {
     max-width: 1600px;
     width: 100%;
     padding: 0 20px;
     margin: 0 auto;
}
.language-block {
     position: relative;
}
.index-contact, .index .header-block, .index-videobg:after, .index-videobg-title {
     position: absolute;
}
.flex-block {
     display: flex;
}
.grid-block {
     display: grid;
}
.none {
     display: block;
}
.none  {
     display: inline-block;
}
.none {
     display: none;
}
.none {
     flex-wrap: wrap;
}
.language-title {
    justify-content: end;
}
.header-block-menu {
     justify-content: space-between;
}
.language-title, .header-block-menu {
     align-items: center;
}
.none {
     vertical-align: middle;
}
.index-contact, .index-videobg-title, img, .header-block {
     width: 100%;
}
.none {
     text-align: center;
}
.none {
     text-align: right;
     display: none;
}
.none {
     text-align: left;
}
.index-videobg-title {
    text-transform: uppercase;
}
.language-block {
     cursor: pointer;
}
.block-body {
     overflow: hidden;
}
.index-videobg:after {
     content: "";
}
.none {
     border-radius: 3px;
}
.none {
     grid-gap: 10px;
}
.none {
     grid-template-columns: repeat(4,1fr);
}
.language-block {
    border-radius: 20px;
}
.index-contact, .header-block, .index-videobg-title {
    z-index: 1;
}
.none {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.header-block {
    left: 50%;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    transform: translate(-50%,0);
}
.index-videobg-title {
    top: 50%;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
}
/*END Common style*/
.index-videobg {
    height: 100vh;
    background-color: var(--color-lowgray);
}
.index-videobg video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.index-contact {
    bottom: 40px;
}
.index-videobg:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    opacity: .6;
}
.index-videobg-title {
    color: var(--color-white);
}
.index-videobg-title div:first-child {
    font: 300 64px "Inter", sans-serif;
}
.index-videobg-title div:nth-child(2) {
    font: 900 76px "Inter", sans-serif;
}
.index-email {
    color: var(--color-white);
}
.index-email i {
    margin-right: 5px;
}
.index .header-block-menu a, .index .language-title {
    color: var(--color-white);
}
.language-block {
    padding: 15px 0;
}
.language-block img {
    width: 20px;
    margin-right: 10px;
}
.language-block-drop {
    display: none;
    text-align: center;
    background-color: var(--color-white);
    border-radius: 20px;
    right: 0;
    top: 40px;
    padding: 10px;
    box-shadow: 10px 10px 25px 0 rgb(0 0 0 / 15%);
    position: absolute;
}
.language-block-drop a {
    display: block;
    color: var(--color-black);
    padding: 11px;
    border-radius: 20px;
}
.header-block-menu img {
    max-width: 210px;
}
.header-block {
    top: 0;
}
.header-menu a {
    margin-right: 40px;
}
.header-menu a:last-child {
    margin: 0;
}