/* roboto-100 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('../font/roboto-v30-cyrillic_latin-100.eot'); /* IE9 Compat Modes */
    src: url('../font/roboto-v30-cyrillic_latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/roboto-v30-cyrillic_latin-100.woff2') format('woff2'), /* Super Modern Browsers */
         url('../font/roboto-v30-cyrillic_latin-100.woff') format('woff'), /* Modern Browsers */
         url('../font/roboto-v30-cyrillic_latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../font/roboto-v30-cyrillic_latin-100.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300 - cyrillic_latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
src: url('../font/roboto-v30-cyrillic_latin-300.eot'); /* IE9 Compat Modes */
src: url('../font/roboto-v30-cyrillic_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../font/roboto-v30-cyrillic_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
        url('../font/roboto-v30-cyrillic_latin-300.woff') format('woff'), /* Modern Browsers */
        url('../font/roboto-v30-cyrillic_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../font/roboto-v30-cyrillic_latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - cyrillic_latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
src: url('../font/roboto-v30-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
src: url('../font/roboto-v30-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../font/roboto-v30-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../font/roboto-v30-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../font/roboto-v30-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../font/roboto-v30-cyrillic_latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - cyrillic_latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
src: url('../font/roboto-v30-cyrillic_latin-500.eot'); /* IE9 Compat Modes */
src: url('../font/roboto-v30-cyrillic_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../font/roboto-v30-cyrillic_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
        url('../font/roboto-v30-cyrillic_latin-500.woff') format('woff'), /* Modern Browsers */
        url('../font/roboto-v30-cyrillic_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../font/roboto-v30-cyrillic_latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - cyrillic_latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
src: url('../font/roboto-v30-cyrillic_latin-700.eot'); /* IE9 Compat Modes */
src: url('../font/roboto-v30-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../font/roboto-v30-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('../font/roboto-v30-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
        url('../font/roboto-v30-cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../font/roboto-v30-cyrillic_latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - cyrillic_latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
src: url('../font/roboto-v30-cyrillic_latin-900.eot'); /* IE9 Compat Modes */
src: url('../font/roboto-v30-cyrillic_latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../font/roboto-v30-cyrillic_latin-900.woff2') format('woff2'), /* Super Modern Browsers */
        url('../font/roboto-v30-cyrillic_latin-900.woff') format('woff'), /* Modern Browsers */
        url('../font/roboto-v30-cyrillic_latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../font/roboto-v30-cyrillic_latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* common style */
:root {
    --color-mainbg: #fafafa;
    --color-white: #fff;
    --color-black: #000;
    --color-gray: #808080;
    --color-gray2: #ccc;
    --color-lowgray: #e5e5e5;
    --color-maincolor: #b37d4a;
    --color-bgmaincolor: #f5e8dc;
    --color-available: #0fc747;
}
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
    border-radius: 0;
    font: 400 16px "Roboto", sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
/* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input, textarea {
    resize: none;
    border: none;
    outline: none;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    color: var(--color-black);
    text-decoration: none;
}
img, input, textarea {
    width: 100%;
}
body {
    overflow-x: hidden;
    font: 400 14px "Roboto", sans-serif;
    color: var(--color-black);
    background-color: var(--color-mainbg);
}
.block-body {
    overflow: hidden;
}
.none {
    background: url(../n-img/atom-sprite.svg) no-repeat;
}
.container {
    max-width: 1600px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}
.none {
    display: none;
}
.flex-block {
    display: flex;
}
.blog-button {
    display: inline-block;
}
.direction-item:after, .video-item:after, .index-video:after, .footer-menu-item {
    display: block;
}
.direction-block, .blog-block, .video-block, .index-advantages-block, .footer-block {
    display: grid;
}
.more-button {
    display: inline-block;
}
.none {
    flex-wrap: wrap;
}
.top-header {
    justify-content: flex-end;
}
.main-menu {
    justify-content: space-between;
}
.index-button-block {
    justify-content: center;
}
.main-menu, .top-header, .footer-social, .right-menu {
    align-items: center;
}
.main-title, .blog-button, .index-advantages-item, .index-title-block, .blog-block {
    text-align: center;
}
.blog-title, .blog-description {
    text-align: left;
}
.none {
    vertical-align: middle;
}
.main-menu, .index-video, .direction-item, .video-item, .mob-menu, .iai-img, .video, .footer-social a, .lang-block, .cpmi-social-block a {
    position: relative;
}
.index-title-block, .direction-item img, .direction-item:after, .direction-title, .video-item:after, .video-item i, .mob-menu i, .iai-img img, .index-video:after, .footer-social img, .cpmi-social-block img {
    position: absolute;
}
.direction-title, .video-item i, .index-title-block {
    z-index: 1;
}
.none {
    z-index: 2;
}
.none {
    z-index: 5;
}
.lang-button, .mob-menu, .main-buttom {
    cursor: pointer;
}
.direction-item:after, .video-item:after, .index-video:after {
    content: "";
}
.direction-item, .direction-item img, .direction-item:after, .blog-item, .blog-item img, .video-item, .video-item img, .video-item:after, .blog-button, .seo-block, .right-menu a, .main-buttom, .more-button, .lang-button, .footer-menu-item, .footer-social a, img {
    border-radius: 20px;
}
.index-title-block, .direction-item img, .video-item i, .mob-menu i, .iai-img img, .footer-social img, .cpmi-social-block img {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.none {
    left: 50%;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    transform: translate(-50%,0);
}
.none {
    top: 50%;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
}
.main-title, .lang-button {
    text-transform: uppercase;
}
.direction-block, .blog-block, .video-block, .index-advantages-block {
    grid-gap: 10px;
}
.footer-block {
    grid-gap: 100px;
}
.direction-block, .video-block, .index-advantages-block {
    grid-template-columns: repeat(4,1fr);
}
.blog-block, .footer-block {
    grid-template-columns: repeat(3,1fr);
}
.video-block .video-item:first-child {
    grid-column: 1/3;
    grid-row: 1/3;
}
.direction-item img {
    height: 100%;
    object-fit: cover;
}
.direction-item:after, .video-item:after, .index-video:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
}
.main-buttom {
    padding: 15px 35px;
    background-color: var(--color-maincolor);
    color: var(--color-white);
    border: 2px solid var(--color-maincolor);
    border-radius: 100px;
}
/* -------------------------------------------------------END common style */
.phone-header {
    font: 900 18px "Roboto", sans-serif;
    border-right: 1px solid var(--color-gray);
    padding-right: 20px;
}
.top-header {
    padding: 15px 0;
}
.header-logo {
    max-width: 280px;
}

.right-menu a {
    padding: 10px 15px;
    margin-right: 10px;
}
.mob-menu {
    margin: 0 15px;
    width: 50px;
    height: 50px;
    background-color: var(--color-bgmaincolor);
    border-radius: 50%;
}
.mob-menu i {
    font-size: 26px;
    color: var(--color-maincolor);
}
.index-video {
    background-color: var(--color-gray);
    height: 650px;
    margin-top: 20px;
}
.video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-title {
    font: 900 30px "Roboto", sans-serif;
    margin: 140px 0 50px;
}
.seo-block {
    padding: 40px;
    background-color: var(--color-white);
    margin-top: 200px;
}
.seo-block h1, .seo-block h2 {
    font: 900 18px "Roboto", sans-serif;
}
.footer-logo {
    max-width: 300px;
}
.direction-item {
    height: 300px;
}
.direction-item:after {
    opacity: .5;
}
.video-item:after {
    opacity: .5;
}
.index-video:after {
    opacity: .4;
}
.direction-title {
    color: var(--color-white);
    bottom: 0;
    left: 0;
    padding: 30px;
    font: 500 18px "Roboto", sans-serif;
}
.blog-item {
    padding: 20px;
    background-color: var(--color-white);
}
.blog-title {
    font: 700 18px "Roboto", sans-serif;
    margin: 25px 0;
    height: 43px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}
.blog-button {
    margin-top: 30px;
    padding: 10px 15px;
}
.blog-description {
    height: 34px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.video-block {
    font-size: 0;
}
.video-item {
    background-color: var(--color-black);
}
.video-item i {
    font-size: 50px;
    color: var(--color-white);
    opacity: 0.8;
}
.lang-button {
    padding: 10px;
    margin-left: 15px;
}
.lang-button p {
    margin-right: 5px;
}
.footer-social a {
    width: 50px;
    height: 50px;
    margin: 0 5px;
}
.footer-social img {
    width: 40%;
}
.footer-menu-item {
    padding: 0 20px;
    font-size: 16px;
}
.footer-menu-item span {
    display: block;
    border-bottom: 1px solid var(--color-lowgray);
    padding: 20px 0;
}
.iai-img {
    width: 100px;
    height: 100px;
    background-color: var(--color-white);
    border-radius: 50%;
    overflow: hidden;
}
.iai-img {
    margin: 0 auto;
}
.iai-title {
    font: 700 16px "Roboto", sans-serif;
    margin: 25px 0;
}
.index-advantages-item {
    margin-bottom: 80px;
}
.iai-desc {
    font-weight: 300;
}
.index-title-block {
    color: var(--color-white);
    padding: 20px;
    width: 100%;
}
.index-title {
    font: 900 36px "Roboto", sans-serif;
    margin-bottom: 20px;
}
.index-title-block p {
    font-size: 16px;
}
.index-button-block {
    margin-top: 40px;
}
.product-button {
    margin-right: 20px;
}
.more-button {
    padding: 10px 20px;
    background-color: var(--color-lowgray);
    color: var(--color-black);
    margin-top: 20px;
}
.more-button i {
    margin-left: 10px;
    font-size: 14px;
}
.consultation-button {
    background-color: rgba(179, 125, 74, .2);
    border: 2px dashed var(--color-maincolor);
}
.footer-block {
    margin: 150px auto 100px;
    max-width: 1400px;
}
.fotter-about {
    padding: 40px 10px;
}
.corp {
    margin-top: 50px;
}
.fm-title {
    padding: 20px;
    font: 900 26px "Roboto", sans-serif;
}
/* Modal-menu */
.mob-menu-block::-webkit-scrollbar {
    width: 23px;
}
.mob-menu-block::-webkit-scrollbar-track {
    background: var(--color-bgmaincolor);
    border-right: 10px solid var(--color-white);
    border-left: 10px solid var(--color-white);
}
.mob-menu-block::-webkit-scrollbar-thumb {
    background: var(--color-maincolor);
    border-right: 10px solid var(--color-white);
    border-left: 10px solid var(--color-white);
}
.mob-menu-block::-webkit-scrollbar-button {
    background: var(--color-white);
}
.mob-menu-modal {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 2;
    position: fixed;
    display: none;
}
.mob-menu-block {
    overflow-y: scroll;
    max-width: 600px;
    width: 100%;
    top: 0;
    left: -650px;
    background-color: var(--color-white);
    box-shadow: 0 0 14px 6px rgb(0 0 0/15%);
    height: 100%;
    padding: 20px;
    position: relative;
}
.back-mob-menu-modal, .close-mob-menu-modal {
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.close-mob-menu-modal {
    top: 20px;
    right: 20px;
}
.back-mob-menu-modal {
    top: 20px;
    left: 20px;
}
.mdi-close::before {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.mob-menu-block-title {
    top: 35px;
    padding: 0 40px;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    transform: translate(-50%,0);
    position: absolute;
    cursor: pointer;
}
.close-mob-menu-modal {
    position: absolute;
    top: 20px;
    right: 20px;
}
.mm-menu, .mm-category-block, .mm-services-block {
    margin-top: 50px;
    padding: 0 40px 60px;
}
.mm-main {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--color-lowgray);
}
.mm-main-item, .mob-menu-filter-title {
    font: 900 24px "Roboto", sans-serif;
    padding: 12px 20px;
    border-radius: 20px;
}
.mm-sub a {
    padding: 12px 20px;
    font: 300 18px "Roboto", sans-serif;
    border-radius: 20px;
    display: block;
}
.mob-menu-block img {
    max-width: 300px;
    margin: 30px;
}
/* Consultation */
.n-consultation-block {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: rgba(250, 250, 250, .97);
    overflow-y: scroll;
    z-index: 5;
    position: fixed;
    text-align: center;
    display: none;
}
.ncb-container {
    padding: 40px 30px;
    max-width: 500px;
    width: 95%;
    font-size: 0;
    background-color: #fff;
    box-shadow: 10px 10px 25px 0 rgb(0 0 0 / 10%);
    margin: 20px auto;
    border-radius: 20px;
    position: relative;
}
.close-consultation {
    top: 10px;
    right: 10px;
    background-color: var(--color-white);
}
.close-consultation {
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
}
.close-consultation:before {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
#form-p-send-manager input, #form-p-send-manager textarea, .n-callback-block input {
    padding: 20px;
    background-color: var(--color-mainbg);
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px solid var(--color-mainbg);
    font-size: 16px;
}
#form-p-send-manager textarea {
    min-height: 130px;
}
.main-button {
    padding: 15px 40px;
    background-color: var(--color-mainbg);
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}
.ncb-send, .n-callback-button {
    margin-top: 20px;
    background-color: var(--color-bgmaincolor);
    font-weight: 500;
    color: var(--color-maincolor);
}
/* lang */
.drop-lang-header {
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
    z-index: 1;
    right: 0;
    top: 40px;
    padding: 10px;
    box-shadow: 10px 10px 25px 0 rgb(0 0 0 / 10%);
    position: absolute;
    display: none;
}
.drop-lang-header a {
    display: block;
    color: var(--color-black);
    padding: 11px;
    text-transform: uppercase;
    border-radius: 20px;
}
/* crumbs */
.bread-crumbs {
    margin: 60px auto 30px;
    position: relative;
}
.bread-crumbs a {
    padding: 5px 10px;
    border-radius: 20px;
}
.bread-crumbs:before {
    content: "";
    position: absolute;
    width: 3rem;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg,hsla(0,0%,100%,0) 0, var(--color-mainbg));
}
.bread-crumbs h1 {
    font: 900 24px "Roboto", sans-serif;
}
.crumbs-scroll {
    overflow-y: auto;
    white-space: nowrap;
}
.bread-crumbs li {
    display: inline-block;
}
.bread-slash {
    margin: 10px 0;
    display: inline-block;
}
.active-bread {
    color: var(--color-maincolor);
}
/* Product-list */
.sort-block {
    margin-bottom: 20px;
}
.sort-block p {
    font-size: 12px;
    margin: 0 15px 10px 0;
}
.sort-block div {
    padding: 8px 15px;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
}
.active-sort {
    background-color: var(--color-bgmaincolor);
    color: var(--color-maincolor);
    font-weight: 700;
    border-radius: 20px;
}
.product-list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
}
.pl-item {
    background-color: var(--color-white);
    padding: 15px;
    position: relative;
    text-align: left;
    border-radius: 20px;
}
.pl-item img {
    border-radius: 20px;
}
.top-product {
    top: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info-bar {
    font-size: 12px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.status-product {
    color: var(--color-available);
}
.pl-item-title {
    margin: 20px 0 30px;
    height: 36px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 18px;
    display: -webkit-box;
}
.pp-old-price {
    font-size: 14px;
    color: var(--color-gray);
    text-decoration: line-through;
}
.pp-price {
    margin-top: 5px;
    font: 900 18px "Roboto", sans-serif;
}
.status {
    background-color: var(--color-bgmaincolor);
    color: var(--color-maincolor);
    padding: 5px 10px;
    border-radius: 20px;
    font: 500 12px "Roboto", sans-serif;
}
/* product-page */
.pp-img-block {
    font-size: 0;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-auto-rows: max-content;
    grid-gap: 5px;
    width: 60%;
}
.pp-img-block img {
    border-radius: 10px;
}
.pp-img-block a:first-child {
    grid-column: 1/9;
}
.pp-main-info {
    margin-left: 20px;
    width: 40%;
}
.pp-tv-block {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2,1fr);
    margin-top: 20px;
}
.pp-table, .pp-video, .pp-main-info, .advantage-product-block, .pp-add-info {
    padding: 40px;
    border-radius: 20px;
    background-color: #fff;
}
.advantage-product-block {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4,1fr);
    margin-top: 20px;
}
.pp-add-info {
    margin-top: 20px;
}
.pp-available {
    background-color: #fcf6f2;
    color: #bc7a40;
    padding: 6px 18px;
    display: inline-block;
    border-radius: 50px;
    font-weight: 700;
}
.pp-available i {
    margin-right: 10px;
    font-size: 24px;
}
.pp-price-product .pp-price {
    font-size: 30px;
}
.pp-kod {
    margin: 30px 0 10px;
}
.pp-buttons-block .consultation-button {
    margin: 50px 0;
    color: #bc7a40;
    background-color: transparent;
    border: 2px solid #bc7a40;
    display: inline-block;
}
.pp-desc-title {
    font-weight: 700;
    margin-bottom: 10px;
}
.pp-decription p {
    line-height: 20px;
}
.pp-status i, .pp-status span {
    vertical-align: middle;
}
.pp-h2 {
    font: 700 24px "Roboto",sans-serif;
    margin-bottom: 20px;
}
.pp-h2 span {
    font: 400 18px "Roboto",sans-serif;
    color: var(--color-gray);
    margin-left: 10px;
}
table {
    width: 100%;
}
table td:last-child {
    font-weight: 600;
    text-align: right;
}
/* table tr:first-child td {
    background-color: #fcf6f2;
    color: #bc7a40;
    font: 600 14px "Roboto",sans-serif !important;
    border: none;
    border-radius: 10px;
    text-align: left;
} */
table td {
    border-bottom: 1px dashed #e4e4e7;
    color: #2d3239;
    font-size: 14px;
    padding: 10px 15px;
    line-height: 14px;
}

.pp-table p {
    margin: 30px 0;
    text-align: left !important;
    font-size: 14px !important;
}
strong {
    font-weight: 700;
}
.pp-table ul, .pp-table ol, .bb-text ul, .bb-text ol {
    margin: 40px 0 40px 40px;
    text-align: left !important;
}
.pp-table li, .bb-text li {
    position: relative;
    text-align: left !important;
    margin-bottom: 15px;
}
.pp-table li:before, .bb-text li:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #bc7a40;
    border-radius: 50%;
    left: -18px;
    top: 9px;
    z-index: 1;
}
.pp-table li:after, .bb-text li:after {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: #fcf6f2;
    border-radius: 50%;
    left: -23px;
    top: 4px;
    width: 15px;
    height: 15px;
}
.pp-video-block {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5px;
}
.pp-video-block a:first-child {
    grid-column: 1/4;
}
.ivb-item {
    background-color: var(--color-black);
    border-radius: 20px;
    position: relative;
}
.ivb-item:after {
    opacity: .2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    opacity: .5;
    border-radius: 20px;
    content: "";
    position: absolute;
    display: block;
}
.pp-video-block a {
    font-size: 0;
}
.ivb-item i, .smv-item i {
    font-size: 60px;
    color: var(--color-white);
    opacity: .8;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 1;
    position: absolute;
}
.apb-item {
    text-align: center;
    padding: 0 20px;
}
.apb-item img {
    border-radius: 100%;
    width: 100px;
}
.apb-title {
    margin: 15px 0;
    font-weight: 700;
}
/* review page */
.review-page .video-item:first-child {
    grid-column: auto;
    grid-row: auto;
}
/* contact-page */
.contact-page {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2,1fr);
    margin: 60px 0;
}
.cpmi-title {
    font: 500 16px "Roboto",sans-serif;
}
.cpmi-title i {
    margin-right: 5px;
}
.cp-main-info a {
    display: block;
    font: 300 20px "Roboto",sans-serif;
    margin: 10px 0 40px;
}
.cpmi-phone {
    font-size: 30px !important;
}
.cpmi-social-block a {
    display: block;
    width: 50px;
    height: 50px;
    margin: 15px 5px;
}
.cpmi-social-block img {
    width: 40%;
}
.cp-contact-form {
    font-size: 0;
}
.cp-main-info, .cp-contact-form {
    padding: 40px;
    border-radius: 20px;
    background-color: #fff;
}
/* blog page */
.blog-body {
    width: 100%;
    padding: 40px;
    border-radius: 20px;
    background-color: #fff;
    margin-right: 20px;
}
.blog-body .pp-img-block {
    width: 100%;
    margin-bottom: 30px;
}
.blog-body .pp-video-block a:first-child {
    grid-column: auto;
}
.bb-text {
    line-height: 24px;
    margin: 30px 0;
}
.bb-text p {
    margin-bottom: 30px;
    text-align: left !important;
}
.bb-text a {
    color: var(--color-maincolor);
    font-weight: 500;
    text-decoration: underline;
}
.bb-text h2, .bb-text h3, .bb-text h4 {
    margin: 30px 0;
    font: 700 18px "Roboto",sans-serif;
}
.blog-sidebar {
    width: 100%;
    max-width: 300px;
}
.blog-sidebar .product-list {
    grid-template-columns: repeat(1,1fr);
}