/* roboto-100 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('../font/roboto-v30-cyrillic_latin-100.eot'); /* IE9 Compat Modes */
    src: url('../font/roboto-v30-cyrillic_latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/roboto-v30-cyrillic_latin-100.woff2') format('woff2'), /* Super Modern Browsers */
         url('../font/roboto-v30-cyrillic_latin-100.woff') format('woff'), /* Modern Browsers */
         url('../font/roboto-v30-cyrillic_latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../font/roboto-v30-cyrillic_latin-100.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300 - cyrillic_latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
src: url('../font/roboto-v30-cyrillic_latin-300.eot'); /* IE9 Compat Modes */
src: url('../font/roboto-v30-cyrillic_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../font/roboto-v30-cyrillic_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
        url('../font/roboto-v30-cyrillic_latin-300.woff') format('woff'), /* Modern Browsers */
        url('../font/roboto-v30-cyrillic_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../font/roboto-v30-cyrillic_latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - cyrillic_latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
src: url('../font/roboto-v30-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
src: url('../font/roboto-v30-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../font/roboto-v30-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../font/roboto-v30-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../font/roboto-v30-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../font/roboto-v30-cyrillic_latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - cyrillic_latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
src: url('../font/roboto-v30-cyrillic_latin-500.eot'); /* IE9 Compat Modes */
src: url('../font/roboto-v30-cyrillic_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../font/roboto-v30-cyrillic_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
        url('../font/roboto-v30-cyrillic_latin-500.woff') format('woff'), /* Modern Browsers */
        url('../font/roboto-v30-cyrillic_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../font/roboto-v30-cyrillic_latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - cyrillic_latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
src: url('../font/roboto-v30-cyrillic_latin-700.eot'); /* IE9 Compat Modes */
src: url('../font/roboto-v30-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../font/roboto-v30-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('../font/roboto-v30-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
        url('../font/roboto-v30-cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../font/roboto-v30-cyrillic_latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - cyrillic_latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
src: url('../font/roboto-v30-cyrillic_latin-900.eot'); /* IE9 Compat Modes */
src: url('../font/roboto-v30-cyrillic_latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../font/roboto-v30-cyrillic_latin-900.woff2') format('woff2'), /* Super Modern Browsers */
        url('../font/roboto-v30-cyrillic_latin-900.woff') format('woff'), /* Modern Browsers */
        url('../font/roboto-v30-cyrillic_latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../font/roboto-v30-cyrillic_latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* common style */
:root {
    --color-mainbg: #f7f8f9;
    --color-white: #fff;
    --color-black: #333;
    --color-gray: #808080;
    --color-gray2: #ccc;
    --color-lowgray: #e5e5e5;
    --color-maincolor: #009fe3;
    --color-bgmaincolor: #eaf6fe;
    --color-bgbutton: #42b6e8;
    --color-available: #34c38f;
    --color-bgavailable: rgba(52,195,143,.25);
    --color-sale: #e83841;
    --color-salebg: #fcf5f5;
}
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
    border-radius: 20px;
    font: 400 16px "Roboto", sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
/* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input, textarea {
    resize: none;
    border: none;
    outline: none;
}
input, textarea {
    padding: 15px 20px;
    background-color: var(--color-mainbg);
    border: 2px solid var(--color-mainbg);
}
textarea:focus {
    border-color: var(--color-maincolor);
}
.has-error input, .has-error textarea {
    border-color: var(--color-sale);
    background-color: var(--color-salebg)
}
.help-block {
    font-size: 12px;
    margin: 5px 0;
    color: var(--color-sale);
}
.sub-menu-button, header p, .pl-cons, .index-show-more, .pop-cl-item, button, .footer-menu-item, .ocb-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
strong {
    font-weight: 500;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    color: var(--color-black);
    text-decoration: none;
}
img, input, textarea, .home-slider-block img, .home-slider-block video, form, .form-group, .h-search-block, .dynamic-search-block {
    width: 100%;
}
body {
    overflow-x: hidden;
    font: 400 14px "Roboto", sans-serif;
    color: var(--color-black);
    background-color: var(--color-mainbg);
}
.block-body {
    overflow: hidden;
}
.none {
    background: url(../n-img/atom-sprite.svg) no-repeat;
}
.container {
    max-width: 1600px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}
.drop-lang-header, .drop-sub-menu {
    display: none;
}
.flex-block {
    display: flex;
}
.blog-button, .pop-cl-item, .index-show-more {
    display: inline-block;
}
.video-item:after, .index-video:after, .footer-menu-item, .hbb-brand-item, .home-slider-block a, .home-slider-block a:after, .footer-logo, .pl-img {
    display: block;
}
.direction-block, .blog-block, .video-block, .index-advantages-block, .footer-block, .sb-content, .product-list {
    display: grid;
}
.more-button, .footer-info a, .h-search-block form {
    display: inline-block;
}
.top-header {
    justify-content: flex-end;
}
.main-menu, .hbb-tb {
    justify-content: space-between;
}
.index-button-block, .db-img, .h-start-search {
    justify-content: center;
}
.main-menu, .top-header, .footer-social, .right-menu, .hbb-tb, .sb-info, .ocb-item, .subscribe-channel form, .pl-buttons, .h-start-search {
    align-items: center;
}
.db-img {
    align-items: flex-end;
}
.main-title, .blog-button, .index-advantages-item, .index-title-block, .blog-block, .direction-item, .corp, .pl-buttons, .pl-cons, .product-block, .h-search-block, .dynamic-search-block {
    text-align: center;
}
.blog-title, .blog-description, .pl-title {
    text-align: left;
}
.mob-menu i, .mob-menu span, .n-login i, .n-login span, .pl-addcart i, .pl-addcart span, .index-show-more i, .index-show-more span, .h-search-block form {
    vertical-align: middle;
}
.main-menu, .index-video, .video-item, .mob-menu, .iai-img, .video, .footer-social a, .lang-block, .cpmi-social-block a, #open-product-favorites, #open-product-cart, .h-search-tap, .home-slider-block a, .sub-menu-block, .subscribe-channel form, .top-product i, .pl-img, .products-list-slider, .h-search-block form {
    position: relative;
}
.h-search-block {
    position: fixed;
}
.index-title-block, .video-item:after, .video-item i, .iai-img img, .index-video:after, .footer-social img, .cpmi-social-block img, #open-product-favorites i, #open-product-cart i, #open-product-favorites span, #open-product-cart span, #favorites-number, #basket-number, .h-search-tap i, .slick-prev, .slick-next, .slick-prev:after, .slick-next:after, .hsb-button, .home-slider-block a:after, .hsb-main video, .hsb-sub img, .hsb-main img, .subscribe-block label, .top-product i:before, .pl-img img, .pp-arow-next, .pp-arow-prev, .pp-arow-prev:after, .pp-arow-next:after, .h-start-search, .h-close-search {
    position: absolute;
}
.video-item i, .index-title-block, .slick-prev, .slick-next, .top-product, .pp-arow-next, .pp-arow-prev {
    z-index: 1;
}
.none {
    z-index: 2;
}
.h-search-block {
    z-index: 5;
}
.lang-button, .mob-menu, .main-buttom, #open-product-favorites, #open-product-cart, .n-login, .h-search-tap, .slick-prev, .slick-next, .sub-menu-button, button, .pl-item-title, .pl-addcart, .pl-addfavorite, .pl-cons, .index-show-more, .pp-arow-next, .pp-arow-prev, .h-start-search, .h-start-search i, .h-close-search {
    cursor: pointer;
}
.video-item:after, .index-video:after, .slick-prev:after, .slick-next:after, .home-slider-block a:after, .pp-arow-prev:after, .pp-arow-next:after {
    content: "";
}
.direction-item, .blog-item, .video-item, .video-item:after, .blog-button, .seo-block, .right-menu a, .main-buttom, .more-button, .lang-button, .footer-menu-item, img, .mob-menu, .n-login, .hbb-brand-list, .slick-prev, .slick-next, .hbb-brand-item, .hsb-sub a:after, .hsb-main, .hsb-sub, .main-block, .pop-cl-item, .sub-menu-button, .footer-phone, .footer-email, .index-show-more, .pl-addcart, .pl-addfavorite, .pl-cons, .pp-arow-next, .pp-arow-prev, .hbb-tb a, .ocb-item, .h-search-block form, input, textarea, .h-start-search, .dynamic-search-block {
    border-radius: 20px;
}
.hsb-main img, .direction-item img, footer img {
    border-radius: 0;
}
.footer-social a, .top-product i {
    border-radius: 50%;
}
.index-title-block, .video-item i, .iai-img img, .footer-social img, .cpmi-social-block img, #open-product-favorites i, #open-product-cart i, #open-product-favorites span, #open-product-cart span, .h-search-tap i, .hsb-button, .top-product i:before, .pl-img img {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.none {
    left: 50%;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    transform: translate(-50%,0);
}
.pp-arow-next, .pp-arow-prev, .pp-arow-next:after, .pp-arow-prev:after {
    top: 50%;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
}
.hsb-main video, .hsb-sub img, .hsb-main img {
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}
.pl-img img {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.pl-img {
    overflow: hidden;
}
.main-title, .lang-button {
    text-transform: uppercase;
}
.direction-block, .blog-block, .video-block, .index-advantages-block, .product-list {
    grid-gap: 10px;
}
.footer-block, .sb-content {
    grid-gap: 100px;
}
.product-list {
    grid-template-columns: repeat(6,1fr);
}
.direction-block {
    grid-template-columns: repeat(5,1fr);
}
.video-block, .index-advantages-block, .footer-block {
    grid-template-columns: repeat(4,1fr);
}
.blog-block {
    grid-template-columns: repeat(3,1fr);
}
.sb-content {
    grid-template-columns: repeat(2,1fr);
}
.video-block .video-item:first-child {
    grid-column: 1/3;
    grid-row: 1/3;
}
.direction-title, .direction-desc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.video-item:after, .index-video:after, .home-slider-block a:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
}
.main-buttom, button {
    padding: 15px 35px;
    background-color: var(--color-maincolor);
    color: var(--color-white);
    border: 2px solid var(--color-maincolor);
    border-radius: 100px;
    font-size: 15px;
}
.main-block {
    padding: 40px;
    background-color: var(--color-white);
    margin: 15px auto;
}
.seo-block ul, .seo-block ol {
    margin: 40px 0 40px 40px;
    text-align: left !important;
}
.seo-block ul li {
    position: relative;
    text-align: left !important;
}
.seo-block li {
    margin-bottom: 15px;
}
.seo-block ul li:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #009fe3;
    border-radius: 50%;
    left: -18px;
    top: 9px;
    z-index: 1;
}
.seo-block ul li:after {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: #eaf6fe;
    border-radius: 50%;
    left: -23px;
    top: 4px;
    width: 15px;
    height: 15px;
}
/* -------------------------------------------------------END common style */
header {
    background-color: var(--color-white);
    padding-bottom: 40px;
}
#open-product-favorites, #open-product-cart, .h-search-tap {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 10px;
}
.h-search-tap {
    background-color: var(--color-bgmaincolor);
    color: var(--color-maincolor);
}
.h-search-tap i {
    font-size: 22px;
}
.mob-menu {
    background-color: var(--color-bgmaincolor);
    color: var(--color-maincolor);
    font-weight: 700;
    padding: 8px 15px;
    margin-left: 10px;
}
.n-login {
    color: var(--color-maincolor);
    margin-left: 10px;
    padding: 8px 10px;
}
.n-login span {
    border-bottom: 1px dashed var(--color-maincolor);
}
.n-login i {
    font-size: 18px;
    color: var(--color-maincolor);
}
#open-product-favorites i, #open-product-cart i {
    font-size: 24px;
    color: var(--color-maincolor);
}
#basket-number, #favorites-number {
    bottom: 3px;
    right: 3px;
    background-color: var(--color-maincolor);
    width: 18px;
    height: 18px;
    color: var(--color-white);
    font-size: 10px;
    border-radius: 50%;
}
.phone-header {
    font: 900 18px "Roboto", sans-serif;
    border-right: 1px solid var(--color-gray);
    padding-right: 20px;
}
.top-header {
    padding: 15px 0;
}
.header-logo {
    max-width: 280px;
    border-radius: 0;
}
.right-menu a, .sub-menu-button {
    padding: 10px 15px;
    margin-left: 10px;
}
.mob-menu i {
    font-size: 22px;
    color: var(--color-maincolor);
    margin-right: 6px;
}
.hsb-sub a {
    height: 220px;
}
.hsb-main a {
    height: 450px;
}
.hsb-main {
    width: 100%;
    margin-right: 10px;
}
.hsb-main, .hsb-sub {
    overflow: hidden;
}
.hsb-sub {
    width: 30%;
}
.hsb-sub a:first-child {
    margin-bottom: 10px;
}
.index-video {
    background-color: var(--color-gray);
    height: 650px;
    margin-top: 20px;
}
.index-slider-block {
    background-color: var(--color-white);
    padding-bottom: 10px;
}
.hbb-tb-title {
    font: 900 20px "Roboto",sans-serif;
}
.hbb-tb a {
    padding: 10px 15px;
    margin-right: 20px;
    font-weight: 400;
}
.hbb-brand-list {
    padding: 35px;
    margin-top: 30px;
    background-color: var(--color-mainbg);
}
.hbb-brand-list .slick-prev, .hbb-brand-list .slick-next, .hsb-main .slick-prev, .hsb-main .slick-next {
    height: 100%;
    background-color: transparent;
    width: 60px;
    font-size: 0;
    top: 0;
    padding: 0;
}
.hbb-brand-list .slick-prev, .hbb-brand-list .slick-next {
    background-color: rgba(0, 0, 0, 0);
    width: 44px;
}
.hbb-brand-list .slick-prev, .hsb-main .slick-prev {
    left: 0;
}
.hbb-brand-list .slick-next, .hsb-main .slick-next {
    right: 0;
}
.slick-prev, .slick-next {
    outline: 0;
    border: 0;
}
.slick-prev:after, .slick-next:after, .pp-arow-prev:after, .pp-arow-next:after {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    opacity: 0.5;
}
.slick-prev:after, .slick-next:after {
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
}
.hbb-brand-list .slick-prev:after, .hbb-brand-list .slick-next:after, .pp-arow-prev:after, .pp-arow-next:after {
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
}
.hbb-brand-list .slick-prev:after, .hbb-brand-list .slick-next:after {
    width: 10px;
    height: 10px;
}
.slick-next:after, .pp-arow-next:after {
    -webkit-transform: rotate(-45deg) translate(0,-50%);
    -moz-transform: rotate(-45deg) translate(0,-50%);
    -ms-transform: rotate(-45deg) translate(0,-50%);
    -o-transform: rotate(-45deg) translate(0,-50%);
    transform: rotate(-45deg) translate(0,-50%);
    right: 15px;
}
.slick-prev:after, .pp-arow-prev:after {
    -webkit-transform: rotate(135deg) translate(-50%,0);
    -moz-transform: rotate(135deg) translate(-50%,0);
    -ms-transform: rotate(135deg) translate(-50%,0);
    -o-transform: rotate(135deg) translate(-50%,0);
    transform: rotate(135deg) translate(-50%,0);
    left: 15px;
}
.hbb-brand-list .slick-prev:after, .pp-arow-prev:after {
    left: 12px;
}
.hbb-brand-list .slick-next:after {
    right: 12px;
}
.hbb-brand-item {
    padding: 20px;
    background-color: #fff;
    margin: 0 10px;
    height: 70px;
}
.hbb-brand-item img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .5;
    height: 100%;
}
.home-brand-block {
    padding-top: 40px;
}
.pop-cl-title {
    font: 900 20px "Roboto", sans-serif;
    margin-bottom: 10px;
}
.pop-cl-item {
    margin: 7px;
    padding: 8px 25px;
    border: 1px solid var(--color-gray2);
    background-color: var(--color-white);
}
.video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-title {
    font: 900 28px "Roboto", sans-serif;
    margin: 50px 0 40px;
}
.seo-block h1, .seo-block h2 {
    font: 900 24px "Roboto", sans-serif;
    margin-bottom: 30px;
}
.seo-block p {
    margin-bottom: 30px;
    text-align: left !important;
    font-size: 14px !important;
}
.seo-block h3 {
    margin: 20px 0;
    font-size: 18px;
}
.seo-block div {
    font: 400 15px "Roboto",sans-serif;
    line-height: 24px;
    text-align: left !important;
}
.footer-logo {
    max-width: 300px;
    padding: 20px;
}
.fi-title {
    padding: 30px 15px 3px;
}
.home-slider-block a:after {
    opacity: .5;
}
.video-item:after {
    opacity: .5;
}
.index-video:after {
    opacity: .4;
}
.db-img {
    height: 70px;
}
.direction-title {
    margin: 30px 0 15px;
    font: 700 16px "Roboto", sans-serif;
    height: 40px;
    line-height: 19px;
}
.direction-desc {
    height: 40px;
    line-height: 19px;
    color: var(--color-gray);
}
.direction-item {
    background-color: var(--color-white);
    padding: 30px 20px;
}
.direction-item img {
    width: auto;
}
.blog-item {
    padding: 20px;
    background-color: var(--color-white);
}
.blog-title {
    font: 700 18px "Roboto", sans-serif;
    margin: 25px 0;
    height: 43px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}
.blog-button {
    margin-top: 30px;
    padding: 10px 15px;
}
.blog-description {
    height: 34px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.video-block {
    font-size: 0;
}
.video-item {
    background-color: var(--color-black);
}
.video-item i {
    font-size: 50px;
    color: var(--color-white);
    opacity: 0.8;
}
.lang-button {
    padding: 10px;
    margin-left: 15px;
}
.lang-button p {
    margin-right: 5px;
}
.footer-social a {
    width: 50px;
    height: 50px;
    margin: 0 5px;
}
.footer-social img {
    width: 40%;
}
.footer-menu-item {
    padding: 0 20px;
    font-size: 14px;
}
.footer-menu-item span {
    display: block;
    border-bottom: 1px solid var(--color-lowgray);
    padding: 20px 0;
}
.iai-img {
    width: 100px;
    height: 100px;
    background-color: var(--color-white);
    border-radius: 50%;
    overflow: hidden;
}
.iai-img {
    margin: 0 auto;
}
.iai-title {
    font: 700 16px "Roboto", sans-serif;
    margin: 25px 0;
}
.index-advantages-item {
    margin-bottom: 80px;
}
.iai-desc {
    font-weight: 300;
}
.index-title-block {
    color: var(--color-white);
    padding: 20px;
    width: 100%;
}
.index-title {
    font: 900 36px "Roboto", sans-serif;
    margin-bottom: 20px;
}
.index-title-block p {
    font-size: 16px;
}
.index-button-block {
    margin-top: 40px;
}
.product-button {
    margin-right: 20px;
}
.more-button {
    padding: 10px 20px;
    background-color: var(--color-lowgray);
    color: var(--color-black);
    margin-top: 20px;
}
.more-button i {
    margin-left: 10px;
    font-size: 14px;
}
.consultation-button {
    background-color: rgba(179, 125, 74, .2);
    border: 2px dashed var(--color-maincolor);
}
footer {
    background-color: var(--color-white);
}
.footer-block {
    padding: 50px 20px 50px;
}
.fotter-about {
    padding: 40px 10px;
}
.corp {
    padding: 0 20px 60px;
    margin: 0 auto;
}
.fm-title {
    padding: 20px;
    font: 500 16px "Roboto", sans-serif;
}
.sb-info {
    background: url(../img/email-subscribe.svg) no-repeat;
    background-position: center;
    background-size: cover;
}
.sb-info img {
    max-width: 200px;
    margin-right: 30px;
    display: none;
}
.sb-info div {
    font: 900 30px "Roboto",sans-serif;
    text-transform: uppercase;
}
.sb-info p {
    font: 300 16px "Roboto",sans-serif;
    margin-top: 10px;
    text-transform: none;
}
.subscribe-block label {
    margin-bottom: 5px;
    top: -23px;
    font-weight: 400;
}
.subscribe-channel input {
    border-color: var(--color-maincolor);
    background-color: var(--color-white);
}

.ocb-item-block img {
    width: 50px;
}
/* Modal-menu */
.mob-menu-block::-webkit-scrollbar {
    width: 23px;
}
.mob-menu-block::-webkit-scrollbar-track {
    background: var(--color-bgmaincolor);
    border-right: 10px solid var(--color-white);
    border-left: 10px solid var(--color-white);
}
.mob-menu-block::-webkit-scrollbar-thumb {
    background: var(--color-maincolor);
    border-right: 10px solid var(--color-white);
    border-left: 10px solid var(--color-white);
}
.mob-menu-block::-webkit-scrollbar-button {
    background: var(--color-white);
}
.mob-menu-modal {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 2;
    position: fixed;
    display: none;
}
.mob-menu-block {
    overflow-y: scroll;
    max-width: 600px;
    width: 100%;
    top: 0;
    left: -650px;
    background-color: var(--color-white);
    box-shadow: 0 0 14px 6px rgb(0 0 0/15%);
    height: 100%;
    padding: 20px;
    position: relative;
}
.back-mob-menu-modal, .close-mob-menu-modal {
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.close-mob-menu-modal {
    top: 20px;
    right: 20px;
}
.back-mob-menu-modal {
    top: 20px;
    left: 20px;
}
.mdi-close::before {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.mob-menu-block-title {
    top: 35px;
    padding: 0 40px;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    transform: translate(-50%,0);
    position: absolute;
    cursor: pointer;
}
.close-mob-menu-modal {
    position: absolute;
    top: 20px;
    right: 20px;
}
.mm-menu, .mm-category-block, .mm-services-block {
    margin-top: 50px;
    padding: 0 40px 60px;
}
.mm-main {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--color-lowgray);
}
.mm-main-item, .mob-menu-filter-title {
    font: 900 24px "Roboto", sans-serif;
    padding: 12px 20px;
    border-radius: 20px;
}
.mm-sub a {
    padding: 12px 20px;
    font: 300 18px "Roboto", sans-serif;
    border-radius: 20px;
    display: block;
}
.mob-menu-block img {
    max-width: 300px;
    margin: 30px;
}
/* Consultation */
.n-consultation-block {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: rgba(250, 250, 250, .97);
    overflow-y: scroll;
    z-index: 5;
    position: fixed;
    text-align: center;
    display: none;
}
.ncb-container {
    padding: 40px 30px;
    max-width: 500px;
    width: 95%;
    font-size: 0;
    background-color: #fff;
    box-shadow: 10px 10px 25px 0 rgb(0 0 0 / 10%);
    margin: 20px auto;
    border-radius: 20px;
    position: relative;
}
.close-consultation {
    top: 10px;
    right: 10px;
    background-color: var(--color-white);
}
.close-consultation {
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
}
.close-consultation:before {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
#form-p-send-manager input, #form-p-send-manager textarea, .n-callback-block input {
    padding: 20px;
    background-color: var(--color-mainbg);
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px solid var(--color-mainbg);
    font-size: 16px;
}
#form-p-send-manager textarea {
    min-height: 130px;
}
.main-button {
    padding: 15px 40px;
    background-color: var(--color-mainbg);
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}
.ncb-send, .n-callback-button {
    margin-top: 20px;
    background-color: var(--color-bgmaincolor);
    font-weight: 500;
    color: var(--color-maincolor);
}
.subscribe-block {
    border-bottom: 5px solid var(--color-mainbg);
    padding: 20px;
}
/* lang */
.drop-lang-header, .drop-sub-menu {
    text-align: center;
    background-color: var(--color-white);
    border-radius: 20px;
    z-index: 1;
    right: 0;
    top: 40px;
    padding: 10px;
    box-shadow: 10px 10px 25px 0 rgb(0 0 0 / 15%);
    position: absolute;
}
.drop-sub-menu {
    text-align: left;
    width: max-content;
}
.drop-lang-header a, .drop-sub-menu a {
    display: block;
    color: var(--color-black);
    padding: 11px;
    text-transform: uppercase;
    border-radius: 20px;
}
.drop-sub-menu a {
    text-transform: none;
    margin: 0;
}
/* crumbs */
.bread-crumbs {
    margin: 60px auto 30px;
    position: relative;
}
.bread-crumbs a {
    padding: 5px 10px;
    border-radius: 20px;
}
.bread-crumbs:before {
    content: "";
    position: absolute;
    width: 3rem;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg,hsla(0,0%,100%,0) 0, var(--color-mainbg));
}
.bread-crumbs h1 {
    font: 900 24px "Roboto", sans-serif;
}
.crumbs-scroll {
    overflow-y: auto;
    white-space: nowrap;
}
.bread-crumbs li {
    display: inline-block;
}
.bread-slash {
    margin: 10px 0;
    display: inline-block;
}
.active-bread {
    color: var(--color-maincolor);
}
/* Product-list */
.sort-block {
    margin-bottom: 20px;
}
.sort-block p {
    font-size: 12px;
    margin: 0 15px 10px 0;
}
.sort-block div {
    padding: 8px 15px;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
}
.active-sort {
    background-color: var(--color-bgmaincolor);
    color: var(--color-maincolor);
    font-weight: 700;
    border-radius: 20px;
}
.pl-item {
    background-color: var(--color-white);
    padding: 15px;
    position: relative;
    text-align: left;
    border-radius: 20px;
}
.pl-item img {
    border-radius: 20px;
}
.top-product {
    top: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    position: absolute;
    align-items: center;
}
.info-bar {
    font-size: 12px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-number {
    font-size: 12px;
    margin: 10px 0;
}
.pl-item-title {
    margin: 10px 0 20px;
    height: 53px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 18px;
}
.pp-old-price {
    font-size: 14px;
    color: var(--color-gray);
    text-decoration: line-through;
}
.pp-price {
    margin-top: 5px;
    font: 900 18px "Roboto", sans-serif;
}
.status {
    background-color: var(--color-bgmaincolor);
    color: var(--color-maincolor);
    padding: 5px 10px;
    border-radius: 20px;
    font: 500 12px "Roboto", sans-serif;
}
/* product-page */
.pp-img-block {
    font-size: 0;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-auto-rows: max-content;
    grid-gap: 5px;
    width: 60%;
}
.pp-img-block img {
    border-radius: 10px;
}
.pp-img-block a:first-child {
    grid-column: 1/9;
}
.pp-main-info {
    margin-left: 20px;
    width: 40%;
}
.pp-tv-block {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2,1fr);
    margin-top: 20px;
}

.advantage-product-block {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4,1fr);
    margin-top: 20px;
}
.pp-add-info {
    margin-top: 20px;
}
.pp-available {
    background-color: #fcf6f2;
    color: #bc7a40;
    padding: 6px 18px;
    display: inline-block;
    border-radius: 50px;
    font-weight: 700;
}
.pp-available i {
    margin-right: 10px;
    font-size: 24px;
}
.pp-price-product .pp-price {
    font-size: 30px;
}
.pp-kod {
    margin: 30px 0 10px;
}
.pp-buttons-block .consultation-button {
    margin: 50px 0;
    color: #bc7a40;
    background-color: transparent;
    border: 2px solid #bc7a40;
    display: inline-block;
}
.pp-desc-title {
    font-weight: 700;
    margin-bottom: 10px;
}
.pp-decription p {
    line-height: 20px;
}
.pp-status i, .pp-status span {
    vertical-align: middle;
}
.pp-h2 {
    font: 700 24px "Roboto",sans-serif;
    margin-bottom: 20px;
}
.pp-h2 span {
    font: 400 18px "Roboto",sans-serif;
    color: var(--color-gray);
    margin-left: 10px;
}
table {
    width: 100%;
}
table td:last-child {
    font-weight: 600;
    text-align: right;
}
table td {
    border-bottom: 1px dashed #e4e4e7;
    color: #2d3239;
    font-size: 14px;
    padding: 10px 15px;
    line-height: 14px;
}

.pp-table p {
    margin: 30px 0;
    text-align: left !important;
    font-size: 14px !important;
}
.pp-table ul, .pp-table ol, .bb-text ul, .bb-text ol {
    margin: 40px 0 40px 40px;
    text-align: left !important;
}
.pp-table li, .bb-text li {
    position: relative;
    text-align: left !important;
    margin-bottom: 15px;
}
.pp-table li:before, .bb-text li:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #bc7a40;
    border-radius: 50%;
    left: -18px;
    top: 9px;
    z-index: 1;
}
.pp-table li:after, .bb-text li:after {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: #fcf6f2;
    border-radius: 50%;
    left: -23px;
    top: 4px;
    width: 15px;
    height: 15px;
}
.pp-video-block {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5px;
}
.pp-video-block a:first-child {
    grid-column: 1/4;
}
.ivb-item {
    background-color: var(--color-black);
    border-radius: 20px;
    position: relative;
}
.ivb-item:after {
    opacity: .2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    opacity: .5;
    border-radius: 20px;
    content: "";
    position: absolute;
    display: block;
}
.pp-video-block a {
    font-size: 0;
}
.ivb-item i, .smv-item i {
    font-size: 60px;
    color: var(--color-white);
    opacity: .8;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 1;
    position: absolute;
}
.apb-item {
    text-align: center;
    padding: 0 20px;
}
.apb-item img {
    border-radius: 100%;
    width: 100px;
}
.apb-title {
    margin: 15px 0;
    font-weight: 700;
}
/* review page */
.review-page .video-item:first-child {
    grid-column: auto;
    grid-row: auto;
}
/* contact-page */
.contact-page {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2,1fr);
    margin: 60px 0;
}
.cpmi-title {
    font: 500 16px "Roboto",sans-serif;
}
.cpmi-title i {
    margin-right: 5px;
}
.cp-main-info a {
    display: block;
    font: 300 20px "Roboto",sans-serif;
    margin: 10px 0 40px;
}
.cpmi-phone {
    font-size: 30px !important;
}
.cpmi-social-block a {
    display: block;
    width: 50px;
    height: 50px;
    margin: 15px 5px;
}
.cpmi-social-block img {
    width: 40%;
}
.cp-contact-form {
    font-size: 0;
}
.cp-main-info, .cp-contact-form {
    padding: 40px;
    border-radius: 20px;
    background-color: #fff;
}
/* blog page */
.blog-body {
    width: 100%;
    padding: 40px;
    border-radius: 20px;
    background-color: #fff;
    margin-right: 20px;
}
.blog-body .pp-img-block {
    width: 100%;
    margin-bottom: 30px;
}
.blog-body .pp-video-block a:first-child {
    grid-column: auto;
}
.bb-text {
    line-height: 24px;
    margin: 30px 0;
}
.bb-text p {
    margin-bottom: 30px;
    text-align: left !important;
}
.bb-text a {
    color: var(--color-maincolor);
    font-weight: 500;
    text-decoration: underline;
}
.bb-text h2, .bb-text h3, .bb-text h4 {
    margin: 30px 0;
    font: 700 18px "Roboto",sans-serif;
}
.blog-sidebar {
    width: 100%;
    max-width: 300px;
}
.blog-sidebar .product-list {
    grid-template-columns: repeat(1,1fr);
}
.footer-phone {
    padding: 10px 15px;
    font: 300 24px "Roboto", sans-serif;
}
.footer-phone p {
    font-size: 16px;
    margin-top: 5px;
}
.footer-phone div {
    font-weight: 500;
}
.footer-email {
    font-size: 18px;
    padding: 10px 15px;
    font-weight: 300;
}
.review-title, .ocb-title {
    font: 700 16px "Roboto",sans-serif;
}
.ocb-title {
    margin: 30px 0 5px;
}
.ocb-item {
    margin: 10px 20px 0 0;
    padding: 0 15px 0 0;
}
.subscribe-channel button {
    margin-left: 10px;
}
.subscribe-channel {
    margin-top: 30px;
}
.official-channel-block p {
    margin-left: 10px;
}
.pl-title {
    margin: 60px 0 30px;
    font: 900 20px "Roboto",sans-serif;
}
.top-product i {
    width: 25px;
    height: 25px;
    background-color: rgba(0, 0, 0, .1);
    font-size: 18px;
    margin-right: 5px;
}
.old-price {
    color: gray;
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: 13px;
    height: 15px;
}
.old-price span:first-child {
    text-decoration: line-through;
}
.old-price span:nth-child(2), .pp-old-price span:nth-child(2) {
    background-color: #f3e500;
    color: #333;
    margin-left: 3px;
    padding: 4px 7px;
    border-radius: 5px;
}
.price {
    font: 700 18px "Roboto",sans-serif;
}
.price span:nth-child(2) {
    font: 400 15px "Roboto",sans-serif;
    margin-left: 6px;
    border-radius: 5px;
}
.status-product-av, .status-product-underorder, .status-product-sales {
    font-size: 13px;
    margin-top: 3px;
}
.status-product-av {
    color: var(--color-available);
}
.status-product-underorder {
    color: var(--color-maincolor);
}
.status-product-sales {
    color: var(--color-sale);
}
.pl-buttons {
    margin-top: 20px;
}
.pl-addcart, .pl-addfavorite, .pl-cons {
    width: 50%;
}
.pl-addcart, .pl-cons {
    border: 3px solid var(--color-mainbg);
    color: var(--color-available);
    padding: 10px;
    font-weight: 500;
}
.pl-addfavorite {
    padding: 10px;
    border: 3px solid var(--color-white);
}
.pl-addfavorite {
    font-size: 20px;
}
.pl-addcart i {
    margin-right: 5px;
    font-size: 20px;
}
.pl-img {
    height: 200px;
}
.index-show-more {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, .04);
    margin-top: 20px;
}
.index-show-more i {
    font-size: 20px;
}
.pp-arow-next, .pp-arow-prev {
    width: 55px;
    height: 130px;
    background-color: rgba(0,0,0,.05);
}
.pp-arow-next {
    right: 0;
}
.pp-arow-prev {
    left: 0;
}
.products-list-slider {
    padding: 0 20px;
}
.products-list-slider .pl-item {
    margin: 0 5px;
}
.favorite-active {
    color: var(--color-maincolor);
    background-color: var(--color-bgmaincolor);

}
.h-search-block {
    max-width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: rgba(250,250,250,.97);
    overflow-y: scroll;
    font-size: 14px;
    padding: 0 20px;
}
.h-search-block form {
    max-width: 1000px;
    margin: 100px auto 0;
    background-color: var(--color-white);
    box-shadow: 6px 6px 5px 0 rgb(0 0 0 / 10%);
}
.h-search-block input {
    padding: 20px 60px 20px 35px;
    font-size: 18px;
    background-color: var(--color-white);
    border: none;
}
.h-search-block input::placeholder {
    color: var(--color-black);
}
.h-start-search {
    top: 0;
    right: 0;
    height: 100%;
    width: 60px;
}
.h-start-search i {
    font-size: 20px;
}
.dynamic-search-block {
    background-color: var(--color-white);
    padding: 35px;
    max-width: 1000px;
    margin: 15px auto 100px;
}
.h-close-search {
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 50%;
    top: 30px;
    right: 30px;
}