@media (max-width: 1200px) {
    .home-header-menu-favorites {
        margin: 0 50px 0 20px;
    }
    .favorites-item {
        width: 25%;
    }
    .product {
        width: 33.3%;
    }
    .pp-img-block {
        max-width: 500px;
    }
    .category-item {
        width: 25%;
    }
}
@media (max-width: 1023px) {
    .pp-other-info {
        padding: 20px 10px;
    }
    .web-app, .info-material {
        padding: 60px 0;
    }
    .category-item {
        width: 33.3%;
    }
    .pp-main-info {
        margin: 0;
        width: 100%;
    }
    .pp-img-block {
        max-width: 100%;
    }
    .filter {
        margin: 0 10px;
    }
    .crumbs {
        overflow-x: auto;
        overflow-y: hidden;
    }
    .product-list-page h1, .product-page h1, .cateogry-page h1 {
        font-size: 24px;
    }
    .crumbs {
        margin: 100px 10px 30px;
        font-size: 13px;
    }
    .home-header-logo {
        max-width: 100px;
    }
    .main-header .home-header {
        padding: 10px;
    }
    .list-products {
        margin: 0 10px 50px;
    }
    .sidebar {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: 1001;
        height: 100%;
        overflow: auto;
        width: 100%;
    }
    .open-filter, .mobile-top-filter, .mob-filter-buttons {
        display: block;
    }
    .favorites-item {
        width: 33.3%;
    }
    .home-header-menu-burger {
        display: inline-block;
    }
    .home-header-menu-item, .home-header-menu-language, .show  {
        display: none;
    }
    .home-advantages-item {
        width: 33.3%;
    }
    .home-contact-block a, .home-contact-block {
        display: block;
        width: 100%;
    }
    .home-advantages h2, .home-contact h2 {
        margin: 0 10px 50px;
    }
    .home-advantages, .home-contact {
        margin: 100px 0;
    }
    .home-header-menu-favorites {
        margin: 0 10px 0 10px;
    }
    .home-header-phone {
        padding-right: 20px;
        margin-right: 10px;
    }
}
@media (max-width: 767px) {
    .options-table-block {
        font-size: 12px;
    }
    .options-block {
        padding: 20px;
    }
    .im-title, .web-app-title, .options-title {
        font-size: 16px;
    }
    .econom-price div:first-child {
        font-size: 18px;
    }
    .pragm-price div:first-child, .elit-price div:first-child {
        font-size: 14px;
    }
    .seo-text-block, .seo-text-block-home {
        margin: 50px 10px;
    }
    .category-item {
        width: 50%;
    }
    .product-page-block {
        padding: 40px 10px;
    }
    .pp-butons-block div {
        display: block;
    }
    .pp-consultation, .pp-call {
        text-align: center;
        margin: 0;
    }
    .pp-consultation {
        padding: 13px 30px;
    }
    .pp-call {
        margin-top: 20px;
    }

    .sort-block {
        margin-bottom: 30px;
    }
    .product {
        width: 50%;
        padding: 10px 10px 30px;
    }
    .open-filter {
        font-size: 14px;
        padding: 12px;
        margin: 30px 10px;
    }
    .product-list-page h1, .product-page h1, .cateogry-page h1 {
        font-size: 18px;
    }
    .crumbs {
        margin: 120px 10px 30px;
    }
    .product h3 {
        font-size: 13px;
    }
    .product-price {
        font: 700 14px "Open Sans", sans-serif;
    }
    .favorites-item {
        padding: 10px;
    }
    .favorites-modal {
        padding: 50px 10px;
        margin: 10px auto;
    }
    .favorites-item {
        width: 50%;
    }
    .favorites-title {
        font-size: 20px;
    }
    .home-header-menu {
        text-align: right;
    }
    .home-header-phone {
        display: block !important;
        padding-right: 15px;
        margin: 0 10px 15px 0;
    }
    .home-header {
        padding: 10px; 
    }
    .home-header-logo {
        margin: 0;
    }
    .home-advantages, .home-contact {
        margin: 50px 0;
    }
    .home-1screen-consultation {
        font-size: 18px;  
    }
    .home-1screen-consultation:after {
        width: 10px;
        height: 10px;
    }
    .footer-logo {
        max-width: 180px;
    }
    .home-advantages-item {
        margin-bottom: 50px;
    }
    .home-advantages h2, .home-contact h2, .seo-text-block h2, .seo-text-block-home h1 {
        font-size: 18px;
    }
    .home-advantages h2:before, .home-contact h2:before {
        width: 25px;
        height: 25px;
    }
    .home-advantages-item {
        width: 50%;
    }
    .home-advantages-item h3 {
        font-size: 14px;
    }
    .home-contact-block a {
        font-size: 16px;
    }
}
@media (max-width: 600px) {
    .ncb-container {
        width: 95%;
        max-width: 100%;
        margin: 10px 0;
        padding: 20px;
    }
    .ncb-info-block {
        flex-direction: column;
        align-items: center;
    }
    .ncb-info-block img {
        width: 80px;
    }
    .ncb-right {
        margin: 0;
        text-align: center;
    }
    .ncb-send {
        font-size: 14px;
    }
    .ncb-phone {
        margin: 20px 0 10px;
    }
}
