.close-ncb, .close-burger-menu, .close-favorites-modal, .favorites-delete, .close-filter, .close-n-callback-block, .favorites-item, .ncb-send, .n-callback-button, #form-p-send-manager input, #form-p-send-manager textarea, .n-callback-block input, .category-item, .checkbox-list, .product, .add-favorite, .pp-price a, .pp-consultation, .pp-call {
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
.home-header-menu a:hover, .home-1screen-consultation:hover, .ncb-right a:hover, .footer-menu a:hover, .home-contact-block a:hover, .sort-block div:hover, .product h3:hover, .favorites-item h3:hover, .pp-call:hover, .category-item h3:hover, .crumbs a:hover {
    text-decoration: underline;
}
.close-ncb:hover, .close-burger-menu:hover, .close-favorites-modal:hover, .close-filter:hover, .close-n-callback-block:hover {
    background-color: #e5e5e5;
}
.favorites-delete:hover{
    background-color: #7f7f7f;
}
.ncb-send:hover, .n-callback-button:hover {
    background-color: #333;
    color: #fff;
}
.favorites-item:hover, .category-item:hover, .product:hover {
    box-shadow: 0 0 14px 0 rgb(0 0 0 / 10%);
}
#form-p-send-manager input:focus, #form-p-send-manager textarea:focus, .n-callback-block input:focus {
    border-color: #333;
}
.footer-social a:hover {
    border-bottom: 2px solid #333;
}
.checkbox-list:hover, .add-favorite:hover, .pp-price a:hover {
    background-color: #cceeff;
}
.pp-consultation:hover {
    background-color: #0070ba;
}